<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
         <div class="starter-template">
            <h1>Spring Boot Web Thymeleaf Example</h1>            
            <h2>
                <span th:text="'Bienvenido ' + ${mensaje}"></span>
            </h2>
        </div>
        <ol>
            <li th:each="Actividades : ${datos}" th:text="${datos}"></li>
        </ol>
        
        
        
        
        <form id="form" th:action="@{/home}" method="post">
            ...    
        </form>
        
        <a th:href="@{https://unillanos.edu.co/}">Universidad de los Llanos.</a>
        
    </body>
</html>